---
import Link from "@/components/ui/link.astro";
import { format } from "date-fns";
import { LuCalendarDays, LuTags, LuDot, LuCoffee } from "react-icons/lu";
import { cn, type Entry } from "@/utils";
import { slug } from "@mogeko/utils";
import type { HTMLAttributes } from "astro/types";

const { class: className, data, ...props } = Astro.props;

type Props = {
  data: { minutesRead: string } & Entry["data"];
} & HTMLAttributes<"header">;
---

<header class={cn("flex flex-col items-start", className)} {...props}>
  <h1
    class={cn(
      "flex-1 scroll-m-20 break-words text-4xl font-[900] leading-[3rem]",
      data.subtitle ? "mb-2" : "mb-7",
    )}
  >
    {data.title}
  </h1>
  {
    data.subtitle && (
      <h2 class="text-secondary mb-7 break-words text-2xl font-bold">
        {data.subtitle}
      </h2>
    )
  }
  <section
    class="mb-8 flex flex-col items-start justify-start gap-0 text-sm md:flex-row md:items-center md:gap-6"
  >
    <div class="flex flex-row items-center justify-start gap-1">
      <time class="inline-flex items-center">
        <LuCalendarDays className="text-primary mr-1 h-4 w-4" />
        {format(data.date, "PPP")}
      </time>
      <LuDot className="h-4 w-4" />
      <span class="inline-flex items-center">
        <LuCoffee className="text-secondary mr-1 h-4 w-4" />
        {data.minutesRead}
      </span>
    </div>
    {
      data.tags && data.tags.length > 0 && (
        <div class="text-accent inline-flex items-center gap-2 overflow-hidden">
          <LuTags className="h-4 w-4 mr-[-0.25rem]" />
          {data.tags.map((tag: string) => (
            <Link href={`/tags/${slug(tag)}`} variant="tag">
              #{tag}
            </Link>
          ))}
        </div>
      )
    }
  </section>
</header>
