---
import "@/styles/globals.css";

import Footer from "@/components/site-footer.astro";
import { siteConfig } from "@/config";

const { title, keywords, description } = Astro.props;
const meta = {
  title: (title ? `${title} - ` : "") + siteConfig.title,
  description: description ?? siteConfig.description,
  keywords: [siteConfig.keywords, ...(keywords ?? [])].join(", "),
  author: siteConfig.author,
};

type Props = { title?: string; keywords?: string[]; description?: string };
---

<html lang="en">
  <head>
    <title>{meta.title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#e76e50" />
    <meta name="description" content={meta.description} />
    <meta name="author" content={siteConfig.author} />
    <meta name="keywords" content={meta.keywords} />
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={siteConfig.title} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-background selection:bg-primary selection:text-primary-foreground min-h-screen font-sans antialiased"
  >
    <slot name="before-header" />
    <div class="relative m-auto flex min-h-screen max-w-2xl flex-col">
      <slot name="header" />
      <slot />
      <slot name="footer"><Footer /></slot>
    </div>
    <slot name="after-footer" />
  </body>
</html>
