---
import "@/styles/globals.css";

import { siteConfig } from "@/config";
import { cn } from "@/utils";
import type { HTMLAttributes } from "astro/types";

const { head, class: className, ...props } = Astro.props;
const meta = {
  title: (head?.title ? `${head?.title} - ` : "") + siteConfig.title,
  description: head?.description ?? siteConfig.description,
  keywords: [siteConfig.keywords, ...(head?.keywords ?? [])].join(", "),
  author: siteConfig.author,
};

export type HeadProps = {
  title?: string;
  description?: string;
  keywords?: string[];
};
type Props = { head?: HeadProps } & HTMLAttributes<"body">;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{meta.title}</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <!-- Vercel Web Analytics & Speed Insights -->
    {
      import.meta.env.PROD ? (
        <>
          <script
            src="/_vercel/speed-insights/script.js"
            type="text/partytown"
          />
          <script src="/_vercel/insights/script.js" type="text/partytown" />
        </>
      ) : (
        <script
          src="https://cdn.vercel-insights.com/v1/script.debug.js"
          type="text/partytown"
        />
      )
    }
    <!-- Website Metadata -->
    <meta name="theme-color" content="#e76e50" />
    <meta name="description" content={meta.description} />
    <meta name="author" content={siteConfig.author} />
    <meta name="keywords" content={meta.keywords} />
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={siteConfig.title} />
    <!-- Favicons -->
    <meta name="msapplication-config" content="browserconfig.xml" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <meta name="msapplication-TileColor" content="#000000" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <link rel="mask-icon" href="/images/safari-tab.svg" color="#4c4c4c" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body
    class={cn(
      "bg-background selection:bg-primary selection:text-primary-foreground min-h-screen font-sans antialiased",
      className,
    )}
    {...props}
  >
    <slot />
  </body>
</html>
